.modal-explore-section {
    display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  max-width: 311px;
  overflow-y: auto;
  background-color: var(--background-color);
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .modal-explore-section {
    max-width: 538px;
    min-height: 412px;
  }
}

.modal-explore-img {
  border-radius: 15px 15px 0 0;
}

.modal-explore-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .modal-explore-close-btn {
    top: 24px;
    right: 32px;
  }
}

.modal-explore-close-icon {
  stroke: var(--text-white-color);
}

.modal-explore-container {
  padding: 32px 24px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .modal-explore-container {
    padding: 40px;
  }
}

.modal-explore-title {
  margin-bottom: 24px;
  color: var(--text-dark-color);
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modal-explore-title {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.modal-explore-title-accent {
  color: var(--accent-color);
}

.modal-explore-input-group {
  position: relative;
}

@media screen and (min-width: 768px) {
  .modal-explore-input-group {
    position: static;
    display: flex;
    gap: 8px;
  }
}

.modal-explore-input {
  min-width: 263px;
  height: 45px;
  padding: 14px 18px;
  color: var(--placeholder-color);
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: -0.02em;
  border: 1.5px solid var(--border-color);
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .modal-explore-input {
    min-width: 313px;
    height: 52px;
    padding: 15px 24px;
    font-size: 18px;
    line-height: calc(22 / 18);
    border-radius: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-explore-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-explore-input:is(:hover, :focus) {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-explore-input:not(:placeholder-shown):invalid {
  background-color: rgb(239 116 122 / 40%);
  border-color: #fa0000;
}

.modal-explore-input-btn {
  position: absolute;
  top: 0;
  left: 163px;
  min-width: 100px;
  height: 45px;
  padding: 14px 22px;
  color: var(--text-white-color);
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  background-color: var(--accent-color);
  border: none;
  border-radius: 100px;
  transition:
    color var(--transition-speed),
    background-color var(--transition-speed);
}

@media screen and (min-width: 768px) {
  .modal-explore-input-btn {
    position: static;
    min-width: 137px;
    height: 52px;
    padding: 16px 42px;
  }
}

.modal-explore-input-btn:focus,
.modal-explore-input-btn:hover {
  color: var(--accent-color);
  background-color: var(--btn-hover-color);
}
