.modal_thanks {
  display: flex;
  width: calc(100% - 32px);
  max-width: 311px;
  overflow: hidden;
  background-color: var(--accent-color);
  border-color: #000000;
  border-radius: 15px;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 14%),
    0 1px 3px rgb(0 0 0 / 12%),
    0 2px 1px rgb(0 0 0 / 20%);
  visibility: hidden;
}

.thanks-close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  width: 28px;
  height: 28px;
  margin-left: auto;
  padding: 0;
  background-color: var(--btn-hover-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.thanks-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: inherit;
  transform: translate(-50%, -50%);
  stroke: rgb(212 69 40 / 100%);
}

.form-thanks {
  padding: 84px 24px 170px 68px;
}

.form-thanks-title {
  width: 229px;
  margin-bottom: 8px;
  color: var(--btn-hover-color);
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.form-thanks-text {
  display: block;
  color: var(--text-white-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.pop-up {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pop-up img {
  display: block;
}

@media screen and (min-width: 768px) {
  .modal_thanks {
    max-width: 516px;
    height: 414px;
  }

  .thanks-close-button {
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }

  .thanks-close-icon {
    width: 22px;
    height: 22px;
  }

  .form-thanks {
    padding: 154px 44px 154px 163px;
  }

  .form-thanks-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .form-thanks-text span {
    font-size: 24px;
    line-height: 1;
  }

  .pop-up img {
    width: 100%;
  }
}
